<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/zbx/good.css">
    <link rel="stylesheet" href="../../public/css/zbx/reset..css">
</head>

<body>
    <!-- top -->
    <div class="header">
        <div class="nav"><a class="logo" href="../wmr/index.html" target="_blank" title="一个帮助开发者成长的社区"></a></div>
        <div class="banner">
            <div class="cover"></div>
            <div class="content">
                <div class="info-box">
                    <h2 class="title">声网 Agora SDK 使用体验</h2>
                    <h2 class="title">征文大赛</h2>
                    <h3 class="abstract">分享你的声网 Agora SDK 使用体验，多重好礼等你来拿哦！</h3><span class="date">2019/4/02 ~
                        2019/5/31</span>
                </div>
            </div>
        </div>
    </div>
    <!-- middn -->
    <div class="slide">
        <div class="siema" style="overflow: hidden; direction: ltr; cursor: -webkit-grab;">
            <div style="width: 2700px; transition: all 300ms ease-out 0s; transform: translate3d(-900px, 0px, 0px);">
                <div style="float: left; width: 33.3333%;">
                    <div class="item"><a class="link" href="https://juejin.im/post/5ca1fa9ff265da30b6219179"
                            target="_blank"
                            style="background-image: url(https://user-gold-cdn.xitu.io/2019/4/2/169dbd5fb641cb84?w=2700&amp;h=540&amp;f=jpeg&amp;s=172170)"></a><span><a
                                class="figcaption" href="https://juejin.im/post/5ca1fa9ff265da30b6219179"
                                target="_blank">征文大赛参赛须知</a></span></div>
                </div>
                <div style="float: left; width: 33.3333%;">
                    <div class="item"><a class="link" href="https://juejin.im/post/5ca1fa9ff265da30b6219179"
                            target="_blank"
                            style="background-image: url(https://user-gold-cdn.xitu.io/2019/4/2/169dbd5fb641cb84?w=2700&amp;h=540&amp;f=jpeg&amp;s=172170)"></a><span><a
                                class="figcaption" href="https://juejin.im/post/5ca1fa9ff265da30b6219179"
                                target="_blank">征文大赛参赛须知</a></span></div>
                </div>
                <div style="float: left; width: 33.3333%;">
                    <div class="item"><a class="link" href="https://juejin.im/post/5ca1fa9ff265da30b6219179"
                            target="_blank"
                            style="background-image: url(https://user-gold-cdn.xitu.io/2019/4/2/169dbd5fb641cb84?w=2700&amp;h=540&amp;f=jpeg&amp;s=172170)"></a><span><a
                                class="figcaption" href="https://juejin.im/post/5ca1fa9ff265da30b6219179"
                                target="_blank">征文大赛参赛须知</a></span></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 最后 -->              
    <!-- 左边 -->
    <div class="time-left">
        <span class="hour">17:01</span>
        <span class="dw">PM</span>
        <div class="year">
            05/07/2019
        </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">Agora 在线语音聊天室开发上手和源码解读 | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>
    <!-- 左边 -->
    <div class="time-left">
        <span class="hour">11:41 </span>
        <span class="dw">AM</span>
        <div class="year"> 05 / 06 / 2019
        </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">WebRTC实时通信协议详解 | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>
    <!-- 左边 -->
    <div class="time-left">
        <span class="hour">14:50 </span>
        <span class="dw">PM</span>
        <div class="year"> 05 / 04 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">声网一起 KTV 功能初体验 | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>
    <!-- 左边 -->
    <div class="time-left">
        <span class="hour">17:34 </span>
        <span class="dw">PM</span>
        <div class="year"> 04 / 28 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">Android 音视频+直播SDK---声网SDK实操 | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>
    <!-- 左边 -->
    <div class="time-left">
        <span class="hour">15:44 </span>
        <span class="dw">PM</span>
        <div class="year">04 / 27 / 2019</div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">一起来学习 WebRTC （篇二） | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="time-left">
        <span class="hour">18:00 </span>
        <span class="dw">PM</span>
        <div class="year">04 / 26 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">Agora SDK 在 Android 中的使用(在线视频通话) | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="time-left">
        <span class="hour">15:43</span>
        <span class="dw">PM</span>
        <div class="year"> 04 / 26 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">Agora Flutter SDK -- 使用 Flutter 开发的高性能音视频 SDK | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="time-left">
        <span class="hour">10:36 </span>
        <span class="dw">AM</span>
        <div class="year">04 / 25 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">【从头到脚】前端实现多人视频聊天— WebRTC 实战（多人篇）| 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="time-left">
        <span class="hour">00:38</span>
        <span class="dw">AM</span>
        <div class="year"> 04 / 24 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">WebRTC 入门与实战教程 | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="time-left">
        <span class="hour">19:01</span>
        <span class="dw">PM</span>
        <div class="year">04 / 23 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">Android 集成 Agora SDK 快速体验 RTC 版多人视频聊天 | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="time-left">
        <span class="hour">10:18 </span>
        <span class="dw">AM</span>
        <div class="year">04 / 23 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">一起来学习 WebRTC （篇一）| 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="time-left">
        <span class="hour">12:04</span>
        <span class="dw"> AM</span>
        <div class="year"> 04 / 22 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">声网 Agora SDK 体验-直播 | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="time-left">
        <span class="hour">10:55</span>
        <span class="dw">AM</span>
        <div class="year"> 04 / 22 / 2019</div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">声网视频通话，视频直播小程序 SDK 初体验 | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="time-left">
        <span class="hour">10:53 </span>
        <span class="dw">AM</span>
        <div class="year">04 / 22 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">声网 PK 连麦功能 Android 入门实践 | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="time-left">
        <span class="hour">10:25</span>
        <span class="dw">AM</span>
        <div class="year">04 / 17 / 2019</div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">声网 Agora SDK 音频通话实践 | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="time-left">
        <span class="hour">22:42</span>
        <span class="dw">PM</span>
        <div class="year"> 04 / 16 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">WebRTC录音功能 | 掘金技术征文文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="time-left">
        <span class="hour">18:39</span>
        <span class="dw">PM</span>
        <div class="year">04 / 16 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">Android 声网音视频体验记录 | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>


    <div class="time-left">
        <span class="hour">19:30 </span>
        <span class="dw">PM</span>
        <div class="year"> 04 / 15 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">试用声网Agora语音SDK感受 | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="time-left">
        <span class="hour">10:12 </span>
        <span class="dw">AM</span>
        <div class="year"> 04 / 12 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">声网多人视频录制与合成支持掉线再录制 | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="time-left">
        <span class="hour">18:40</span>
        <span class="dw">PM</span>
        <div class="year">04 / 11 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">WebRTC环境搭建 | 掘金技术征文文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>


    <div class="time-left">
        <span class="hour">11:05 </span>
        <span class="dw">AM</span>
        <div class="year"> 04 / 02 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">【从头到脚】WebRTC + Canvas 实现一个双人协作的共享画板 | 掘金技术征文</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="time-left">
        <span class="hour">11:05 </span>
        <span class="dw">AM</span>
        <div class="year"> 04 / 02 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">声网 Agora SDK 使用体验征文大赛比赛详情</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="time-left">
        <span class="hour">17:55 </span>
        <span class="dw">PM</span>
        <div class="year"> 03 / 26 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right">
        <div class="right-a">
            <a href="">声网 Agora 掘金专栏参考文章</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>


    <div class="time-left">
        <span class="hour">12:08 </span>
        <span class="dw"> AM</span>
        <div class="year"> 03 / 22 / 2019 </div>
    </div>
    <!-- right -->
    <div class="content-right" id="aa">
        <div class="right-a">
            <a href="">关于我们</a>
        </div>
        <img src="../../public/img/zbx/article-icon.svg" alt="" class="con-one">
        <span>文章</span>
        <img src="../../public/img/zbx/share.0077aab60655f48f.svg" alt="">
        <span class="podiwei">分享
            <div class="aul">
                <div class="triangle"></div>
                <ul>
                    <li>
                        <img src="../../public/img/zbx/url-share.e862a2c1f9ef1cfa (1).svg" alt="">
                        复制链接
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
                        微博
                    </li>
                    <li>
                        <img src="../../public/img/zbx/weixin-share.b11f9bcab841b662.svg" alt="">
                        微信扫一扫
                        <p> <img src="../../public/img/zbx/agora-qrcode.svg" alt=""></p>
                    </li>
                </ul>
            </div>
        </span>

    </div>
    <!-- 侧面固定栏 -->
    <div class="cebian">
        <div class="webo">
            <img src="../../public/img/zbx/weibo.91e09299cf4e5af9.svg" alt="">
            <img src="../../public/img/zbx/weibo.fa758eb.svg" alt="">
        </div>
        <!-- qq -->
        <div class="qq>" </div> </div> </body> <script src="../../public/js/zbx/good.js">
        </script>

</html>














<!--  -->