<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/zbx/login.css">
    <link rel="stylesheet" href="./css/zbx/reset..css">
    <link rel="stylesheet" href="../zbx/zhuce.html">
    
</head>

<body>
    <div data-v-3488bcba="" data-v-90732428="" class="auth-modal-box">
        <form data-v-3488bcba="" class="auth-form">
            <div data-v-3488bcba="" class="panfish">
                <img data-v-3488bcba="" src="./img/zbx/normal.0447fe9.png" class="normal" style="">
                <img data-v-3488bcba="" src="./img/zbx/greeting.1415c1c.png" class="greeting"
                    style="display: none;">
                <img data-v-3488bcba="" src="./img/zbx/blindfold.58ce423.png" class="blindfold"
                    style="display: none;">
            </div>
            <i data-v-3488bcba="" title="关闭" class="close-btn ion-close-round"></i>
            <div data-v-3488bcba="" class="panel">
                <h1 data-v-3488bcba="" class="title">登录</h1>
                <!---->
                <div data-v-3488bcba="" class="input-group">
                    <div data-v-3488bcba="" class="input-box">
                        <input data-v-3488bcba="" name="zhu_phonum" maxlength="64" placeholder="请输入手机号或邮箱" class="input">
                    </div>
                    <div data-v-3488bcba="" class="input-box">
                        <input data-v-3488bcba="" name="zhu_password" type="password" maxlength="64" placeholder="请输入密码" class="input">
                    </div>
                </div>
                <button data-v-3488bcba="" class="btn">登录</button>
                <div data-v-3488bcba="" class="prompt-box">没有账号？
                    <span data-v-3488bcba="" class="clickable" id="zhuce">注册</span>
                    <a data-v-3488bcba="" href="/reset-password" class="right clickable">忘记密码</a>
                </div>
            </div>
            <div data-v-3488bcba="" class="oauth-box">
                <div data-v-3488bcba="" class="hint">第三方账号登录：</div>
                <div data-v-3488bcba="" class="oauth">
                    <div data-v-3488bcba="" class="oauth-bg">
                        <img data-v-3488bcba="" title="微博" alt="微博" src="./img/zbx/weibo.0cd39f5.png"
                            class="oauth-btn">
                    </div>
                    <div data-v-3488bcba="" class="oauth-bg">
                        <img data-v-3488bcba="" title="微信" alt="微信" src="./img/zbx/wechat.ce329e6.png"
                            class="oauth-btn">
                    </div>
                    <div data-v-3488bcba="" class="oauth-bg">
                        <img data-v-3488bcba="" title="GitHub" alt="GitHub"
                            src="./img/zbx/github.547dd8a.svg" class="oauth-btn">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- 广告 -->

    <div data-v-6e4d029a="" data-v-90732428="" class="recommend-box">
        <div data-v-6e4d029a="" class="extension">
            <div data-v-6e4d029a="" data-growing-container="true" data-growing-title="掘金插件" class="link">
                <div data-v-6e4d029a="" class="title" 掘金浏览器插件 - 下载插件，送你 
                <span data-v-6e4d029a="" class="price">
                     45元</span>
                    买小册</div>
            </div>
            <div data-v-6e4d029a="" class="ion-close">
            </div>
        </div>
    </div>


    <!-- =========== -->

    <script src="./js/zbx/login.js"></script>
</body>

</html>