/* 顶部导航 */
.top-nav {
  position: relative;
  height: 55px;
}

.clearfix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .2s;

  background: #fff;
  border-bottom: 1px solid #f1f1f1;
  color: #909090;
  height: 60px;
  z-index: 250;
}

.conn {
  max-width: 960px;
  margin: auto;

  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;

  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.conn .logo {
  min-width: 98px;
  margin-right: 0px;
}

.conn a {
  min-width: 98px;
  margin-right: 32px;
  color: #71777c;
}

/* logo */
.conn img {
  width: auto;
  height: auto;
}

.main-nav {
  height: 100%;
  flex: 1 0 auto;
  float: left;
}

.nav-list {
  list-style: none;
  display: flex;
  position: relative;
  padding-left: 0px;
  height: 100%;
  margin: 0;
}

.need li {
  list-style: none;
  float: left;
  margin-right: 4px;
}

.need a {
  text-decoration: none;
  text-align: center;
  line-height: 60px;
}

.search-inp {
  margin-top: 12px;
  margin-left: 15px;
}

.search-form {
  border: 1px solid hsla(0, 0%, 59.2%, .2);
  background-color: rgba(227, 231, 236, .2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
}

.search-inp input {
  width: 95px;
  height: 30px;
  border: none;
  padding: 6.2px 7.4px;
  box-shadow: none;
  outline: none;
  color: #666;
  background-color: transparent;
}

input::-webkit-search-cancel-button {
  display: none;
  outline-offset: -2px;
}

input[type=search]::-ms-clear {
  display: none;
}

.search-icon {
  padding: 5px;
  cursor: pointer;
}


/* 相对定位小图标 */
.s-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 1000;
}

/* 主要内容 */
.main {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

/* 公共部分 */
.common {
  max-width: 920px;
  margin-top: 24px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 96px;
}

/* 话题列表 */
.topics-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

/* 标题 */
.title {
  padding: 0 20px;
  text-align: left;
  font-size: 23px;
  color: #0e0e0e;
  font-weight: 600;
  margin: 15px 0;
}

/* 话题列表 */
.list {
  display: flex;
  flex-direction: row;
  max-width: 920px;
  flex-wrap: wrap;
}

/* 话题开始 */
.topics-item {
  display: flex;
  flex-grow: 0;
  padding: 18px 15px;
  align-items: flex-start;
  background-color: #fff;
}

/* a标签图标 */
.icon {
  display: block;
  float: left;
}

/* 图标图片 */
.icon img {
  width: 72px;
  height: 72px;
  border-radius: 16px;
}

/* 右边的文字 */
.right-word {
  color: #8a9aa9;
  width: 140px;
  max-width: 140px;
  letter-spacing: normal;
  text-align: left;
  margin-left: 19px;
  display: flex;
  flex-direction: column;
}

.right-word span {
  font-size: 13px;
  color: #8a9aa9;
  padding: 6px 0px 0px;
}

.right-word a {
  text-decoration: none;
}

.word {
  font-size: 17px;
  font-weight: 600;
  color: #0e0e0e;
}

.attention {
  font-size: 14px;
  color: #6fd748;
}

.word:hover {
  color: #007fff;
}