<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>掘金</title>
    <link rel="stylesheet" href="../../public/css/gr/Homepage.css">
    <link rel="stylesheet" href="../../public/css/wmr/reset.css">
    <!-- ico图片 -->
    <link rel="icon" href="../../public/img/gr/icon.png" type="image/x-icon">
</head>

<body style="background-color: #f4f5f5">
    <!-- 顶部导航 -->
    <div class="top-nav clearfix1">
        <div class="top-nav-center clearfix">
            <!-- 掘金logo -->
            <a href="javascript:;" class="logo"><img src="../../public/img/gr/logo.svg" alt=""></a>
            <ul>
                <li><a href="javascript:;">首页</a></li>
                <li><a href="javascript:;">沸点</a></li>
                <li><a href="javascript:;">话题</a></li>
                <li><a href="javascript:;">小册</a></li>
                <li><a href="javascript:;">活动</a></li>
                <li><a href="javascript:;">有奖征文🎁</a></li>
            </ul>
            <form action="">
                <input type="text" placeholder="搜索更新啦">
                <img src="../../public/img/gr/search.svg" alt="">
            </form>
            <!-- 写文章按钮 -->
            <div class="top-nav-center-btn">
                <button><a href="">写文章</a></button>
                <div class="i"><i><img src="../../public/img/gr/三角下标（正方形）.png" alt=""></i></div>
            </div>
            <!-- 顶部右边 -->
            <div class="top-nav-right">
                <a href="javascript:;"><img src="../../public/img/gr/铃铛 (1).png" alt=""></a>
                <div class="head">
                    <img src="../../public/img/gr/亲亲.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- 下拉隐藏导航 -->
    <div class="top-nav-none">
        <div class="top-nav-none-c">
            <div>
                <img src="" alt="">
            </div>
            <a href="javascript:;">动态</a>
            <a href="javascript:;">专栏 <span>1</span></a>
            <a href="javascript:;">沸点</a>
            <a href="javascript:;">分享 <span>0</span></a>
            <a href="javascript:;">赞 <span>1</span>
                <img src="" alt="">
            </a>
            <a href="javascript:;">小册 <span>1</span></a>
            <a href="javascript:;">更多 <img src="" alt=""></a>
            <button>编辑个人资料</button>
        </div>
    </div>

    <!--内容-->
    <div class="content">
        <!-- 内容版心 -->
        <div class="content-center">
            <div class="content-center-top">
                <div class="content-center-top-z">
                    <div class="first">
                        <img src="" alt="">
                    </div>
                    <div class="second">
                        <h1>小叔叔</h1>
                        <div class="sencond-top">
                            <a href="">
                                +&nbsp你从事什么职业？
                            </a>
                        </div>
                        <div class="sencond-bottom">
                            <a href="">
                                +&nbsp你的信仰是什么？
                            </a>
                        </div>
                    </div>
                    <div class="thirdly">
                        <div class="thirdly-icon">
                            <ul>
                                <li><a href=""><img src="../../public/img/gr/地球.png" alt=""></a></li>
                                <li><a href=""><img src="../../public/img/gr/小猫.png" alt=""></a></li>
                                <li><a href=""><img src="../../public/img/gr/微博.png" alt=""></a></li>
                            </ul>
                            <form action="">
                                <input type="button" value="编辑个人资料">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 固定关注 -->
            <div class="attention">
                <div class="attention-top">
                    <div class="attention-top-l">
                        <a href="">关注了</a>
                        <h6>10</h6>
                    </div>
                    <div class="attention-top-r">
                        <a href="">关注者</a>
                        <h6>0</h6>
                    </div>
                </div>
                <ul>
                    <li>
                        <a href="">收藏集</a>
                        <p>1</p>
                    </li>
                    <li>
                        <a href="">关注标签</a>
                        <p>40</p>
                    </li>
                    <li>
                        <a href="">加入于</a>
                        <p>2018年12月16日</p>
                    </li>
                </ul>
            </div>

            <!-- table切换   固定导航栏 -->
            <div class="table">
                <ul>
                    <li><a href="javascript:;" class="active">动态</a></li>
                    <li><a href="javascript:;">专栏&nbsp0</a></li>
                    <li><a href="javascript:;">沸点</a></li>
                    <li><a href="javascript:;">分享&nbsp0</a></li>
                    <li><a href="javascript:;">赞&nbsp0 <img src="../../public/img/gr/倒三角.png" alt=""></a></li>
                    <li><a href="javascript:;">小册&nbsp0</a></li>
                    <li><a href="javascript:;">更多<img src="../../public/img/gr/倒三角.png" alt=""></a></li>
                </ul>
            </div>
            <!-- 内容正文 -->
            <div class="content-m">
                <div class="content-main">
                    <div class="content-main-head">
                        <img src="../../public/img/gr/亲亲.jpeg" alt="">
                    </div>
                    <div class="content-main-s">
                        <a href="">小叔叔</a>&nbsp;<span>关注了</span>&nbsp;<a href="">苏南</a>
                        <p>小白&nbsp;@&nbsp;无</p>
                    </div>
                </div>
            </div>
            <div class="content-m">
                <div class="content-main">
                    <div class="content-main-head1">
                        <img src="../../public/img/gr/亲亲.jpeg" alt="">
                    </div>
                    <div class="content-main-s">
                        <a href="">小叔叔</a>&nbsp;<span>关注了</span>&nbsp;<a href="">苏南</a>
                        <p>小白&nbsp;@&nbsp;无</p>
                    </div>
                </div>
            </div>
            <div class="content-m">
                <div class="content-main">
                    <div class="content-main-head1">
                        <img src="../../public/img/gr/亲亲.jpeg" alt="">
                    </div>
                    <div class="content-main-s">
                        <a href="">小叔叔</a>&nbsp;<span>关注了</span>&nbsp;<a href="">苏南</a>
                        <p>小白&nbsp;@&nbsp;无</p>
                    </div>
                </div>
            </div>
            <div class="content-m">
                <div class="content-main">
                    <div class="content-main-head1">
                        <img src="../../public/img/gr/亲亲.jpeg" alt="">
                    </div>
                    <div class="content-main-s">
                        <a href="">小叔叔</a>&nbsp;<span>关注了</span>&nbsp;<a href="">苏南</a>
                        <p>小白&nbsp;@&nbsp;无</p>
                    </div>
                </div>
            </div>
            <div class="content-m">
                <div class="content-main">
                    <div class="content-main-head1">
                        <img src="../../public/img/gr/亲亲.jpeg" alt="">
                    </div>
                    <div class="content-main-s">
                        <a href="">小叔叔</a>&nbsp;<span>关注了</span>&nbsp;<a href="">苏南</a>
                        <p>小白&nbsp;@&nbsp;无</p>
                    </div>
                </div>
            </div>
            <div class="content-m">
                <div class="content-main">
                    <div class="content-main-head1">
                        <img src="../../public/img/gr/亲亲.jpeg" alt="">
                    </div>
                    <div class="content-main-s">
                        <a href="">小叔叔</a>&nbsp;<span>关注了</span>&nbsp;<a href="">苏南</a>
                        <p>小白&nbsp;@&nbsp;无</p>
                    </div>
                </div>
            </div>
            <div class="content-m">
                <div class="content-main">
                    <div class="content-main-head1">
                        <img src="../../public/img/gr/亲亲.jpeg" alt="">
                    </div>
                    <div class="content-main-s">
                        <a href="">小叔叔</a>&nbsp;<span>关注了</span>&nbsp;<a href="">苏南</a>
                        <p>小白&nbsp;@&nbsp;无</p>
                    </div>
                </div>
            </div>
            <div class="content-m">
                <div class="content-main">
                    <div class="content-main-head1">
                        <img src="../../public/img/gr/亲亲.jpeg" alt="">
                    </div>
                    <div class="content-main-s">
                        <a href="">小叔叔</a>&nbsp;<span>关注了</span>&nbsp;<a href="">苏南</a>
                        <p>小白&nbsp;@&nbsp;无</p>
                    </div>
                </div>
            </div>
            <div class="content-m">
                <div class="content-main">
                    <div class="content-main-head1">
                        <img src="../../public/img/gr/亲亲.jpeg" alt="">
                    </div>
                    <div class="content-main-s">
                        <a href="">小叔叔</a>&nbsp;<span>关注了</span>&nbsp;<a href="">苏南</a>
                        <p>小白&nbsp;@&nbsp;无</p>
                    </div>
                </div>
            </div>
            <div class="content-m">
                <div class="content-main">
                    <div class="content-main-head1">
                        <img src="../../public/img/gr/亲亲.jpeg" alt="">
                    </div>
                    <div class="content-main-s">
                        <a href="">小叔叔</a>&nbsp;<span>关注了</span>&nbsp;<a href="">苏南</a>
                        <p>小白&nbsp;@&nbsp;无</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- js -->
    <script src="../../public/lib/jqurey/jquery.min.js"></script>
    <script src="../../public/js/gr/Homepage.js"></script>
</body>

</html>