<!-- 个人资料 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人资料 - 掘金</title>
    <link rel="stylesheet" href="../../public/css/gr/personage.css">
    <link rel="stylesheet" href="../../public/css/wmr/reset.css">
    <link rel="icon" href="../../public/img/gr/icon.png" type="image/x-icon">
</head>

<body style="background-color: #f4f5f5">
    <div class="top-nav clearfix1">
        <div class="top-nav-center clearfix">
            <!-- 掘金logo -->
            <a href="javascript:;" class="logo"><img src="../../public/img/gr/logo.svg" alt=""></a>
            <ul>
                <li><a href="javascript:;">首页</a></li>
                <li><a href="javascript:;">沸点</a></li>
                <li><a href="javascript:;">话题</a></li>
                <li><a href="javascript:;">小册</a></li>
                <li><a href="javascript:;">活动</a></li>
                <li><a href="javascript:;">有奖征文🎁</a></li>
            </ul>
            <form action="">
                <input type="text" placeholder="搜索更新啦">
                <img src="../../public/img/gr/search.svg" alt="">
            </form>
            <!-- 写文章按钮 -->
            <div class="top-nav-center-btn">
                <button><a href="">写文章</a></button>
                <div class="i"><i><img src="../../public/img/gr/三角下标（正方形）.png" alt=""></i></div>
            </div>
            <!-- 顶部右边 -->
            <div class="top-nav-right">
                <a href="javascript:;"><img src="../../public/img/gr/铃铛 (1).png" alt=""></a>
                <div class="head"></div>
            </div>
        </div>
        <!-- 顶部导航下面小导航 -->
        <div class="top-nav-m">
            <div class="top-nav-m-center">
                <ul>
                    <li><a href="">个人资料</a></li>
                    <li><a href="">账号关联</a></li>
                    <li><a href="">邮件设置</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="content-center">
                <div class="content-center-c">
                    <h1>个人资料</h1>
                    <ul>
                        <li class="first-li">
                            <span>头像</span>
                            <div class="head">
                                <img src="../../public/img/gr/亲亲.jpeg" alt="">
                            </div>
                            <div class="file-box">
                                <p>支持jpg、png&nbsp格式大小&nbsp5M&nbsp以内的图片</p>
                                <button type="file" value="">点击上传</button>
                            </div>
                        </li>
                        <li class="li">
                            <span class="front">用户名</span>
                            <input type="text">
                            <img src="../../public/img/gr/修 改.png" alt="">
                            <span class="col">修改</span>
                        </li>
                        <li class="li">
                            <span class="front">职位</span>
                            <input type="text">
                            <img src="../../public/img/gr/修 改.png" alt="">
                            <span class="col">修改</span>
                        </li>
                        <li class="li">
                            <span class="front">公司</span>
                            <input type="text">
                            <img src="../../public/img/gr/修 改.png" alt="">
                            <span class="col">修改</span>
                        </li>
                        <li class="li">
                            <span class="front">个人介绍</span>
                            <input type="text">
                            <img src="../../public/img/gr/修 改.png" alt="">
                            <span class="col">修改</span>
                        </li>
                        <li class="li">
                            <span class="front">个人主页</span>
                            <input type="text">
                            <img src="../../public/img/gr/修 改.png" alt="">
                            <span class="col">修改</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>

</html>