<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href=".././../public/css/jjh/demo.css">
</head>
<body>
    <div class="box">
        <div class="p1">
        <div class="p1-v1"></div>
        </div>
        <div class="p2">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i></i>
            <div class="p2-v1">
                <em></em>
                <i></i>
            </div>
        </div>
        <div class="p3">
            <span></span>
        </div>
        <div class="p4">
            <span></span>
            <span></span>
            <span></span>
            <i></i>
        </div>
        <div class="p5">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</body>
</html>