<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>掘金 － 活动页面合作
        - 腾讯问卷</title>
    <link rel="stylesheet" href="../../public/css/jjh/hezuo.css">
    <link rel="stylesheet" href="../../public/css/jjh/demo.css">
</head>

<body>
    <div class="body">
        <div class="all">
            <!-- 顶部图片 -->
            <div class="img">
                <div class="box">
                    <div class="p1">
                        <div class="p1-v1"></div>
                    </div>
                    <div class="p2">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <i></i>
                        <div class="p2-v1">
                            <em></em>
                            <i></i>
                        </div>
                    </div>
                    <div class="p3">
                        <span></span>
                    </div>
                    <div class="p4">
                        <span></span>
                        <span></span>
                        <span></span>
                        <i></i>
                    </div>
                    <div class="p5">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="img-title">掘金 － 活动页面合作</div>
                <div class="img-strong"><b>❤ ⼤会/活动⽅需要提供： 1. 掘⾦logo露出，并置于技术合作社区分类 / 媒体分类</b></div>
            </div>

            <!-- 问答 -->
            <div class="ask">
                <div class="ask-gang"></div>
                <p>
                    💙
                    <strong class="ti">掘⾦将提供：</strong>
                    <br>
                    1. 活动发布到 https://juejin.im/events
                    <br>
                    2. 活动进⼊三端相关信息流 1 次 （精准覆盖100000+开发者）
                    <br>
                    💜
                    <strong class="su">活动⻚页⾯素材提供：</strong>
                    <br>
                    1. banner尺⼨：940 x 560 （⾼清、jpg/png格式、内容简洁）
                    <br>
                    2. 跳转链接（官⽹/报名链接）
                    <br>
                    3. 活动标题：15字内
                    <br>
                    4. 活动描述：⼀句话介绍，20字内
                    <br>
                    <strong class="loge">掘金logo下载：</strong>
                    <a href="http://pan.baidu.com/s/1liCoxt8MErtVYQtf1a3QAQ"
                        target="_blank">http://pan.baidu.com/s/1liCoxt8MErtVYQtf1a3QAQ</a>
                    <br>
                    <strong class="duo">更多合作请 E-mail：bd@xitu.io or 微信：229199157</strong>
                </p>
                <form action="" class="form">
                    <section class="question skin-bgText" tabindex="-1" id="question_q-6-xLYa">
                        <div class="question-head skin-bgText skin-line-after-border-bottom ">
                            <div class="question-title"><span class="question-seq"><b>01</b></span><span
                                    class="text">您来自哪家公司？</span><span class="question-required">*</span></div>
                        </div>
                        <div class="question-body skin-bgText"><input class="inputs-input skin-input-placeholder "
                                type="text" placeholder="请输入" value=""></div>
                    </section>
                    <section class="question skin-bgText" tabindex="-1" id="question_q-2-ctdR">
                        <div class="question-head skin-bgText skin-line-after-border-bottom ">
                            <div class="question-title"><span class="question-seq"><b>02</b></span><span
                                    class="text">如何称呼您？</span><span class="question-required">*</span></div>
                        </div>
                        <div class="question-body skin-bgText"><input class="inputs-input skin-input-placeholder "
                                type="text" placeholder="请输入" value=""></div>
                    </section>
                    <section class="question skin-bgText" tabindex="-1" id="question_q-3-dEy2">
                        <div class="question-head skin-bgText skin-line-after-border-bottom ">
                            <div class="question-title"><span class="question-seq"><b>03</b></span><span
                                    class="text">您要推广活动的标题？</span><span class="question-required">*</span></div>
                            <div class="question-desc skin-scale-text">请提供活动标题（15字内）</div>
                        </div>
                        <div class="question-body skin-bgText"><input class="inputs-input skin-input-placeholder "
                                type="text" placeholder="请输入" value=""></div>
                    </section>
                    <section class="question skin-bgText" tabindex="-1" id="question_q-10-PxpS">
                        <div class="question-head skin-bgText skin-line-after-border-bottom ">
                            <div class="question-title"><span class="question-seq"><b>04</b></span><span
                                    class="text">您要推广活动的描述？</span><span class="question-required">*</span></div>
                            <div class="question-desc skin-scale-text">请提供关于此活动的⼀句话介绍（20字内）</div>
                        </div>
                        <div class="question-body skin-bgText"><input class="inputs-input skin-input-placeholder "
                                type="text" placeholder="请输入" value=""></div>
                    </section>
                    <section class="question skin-bgText" tabindex="-1" id="question_q-11-skeT">
                        <div class="question-head skin-bgText skin-line-after-border-bottom ">
                            <div class="question-title"><span class="question-seq"><b>05</b></span><span
                                    class="text">您要推广活动的举办城市？</span><span class="question-required">*</span></div>
                            <div class="question-desc skin-scale-text">请提供关于此活动的举办城市</div>
                        </div>
                        <div class="question-body skin-bgText"><input class="inputs-input skin-input-placeholder "
                                type="text" placeholder="请输入" value=""></div>
                    </section>
                    <section class="question skin-bgText" tabindex="-1" id="question_q-12-cFZw">
                        <div class="question-head skin-bgText skin-line-after-border-bottom ">
                            <div class="question-title"><span class="question-seq"><b>06</b></span><span
                                    class="text">您要推广的举办时间？</span><span class="question-required">*</span></div>
                            <div class="question-desc skin-scale-text">
                                请提供关于此活动的举办当天的时间，具体到小时和分钟，例：2019年10月28日09：00-17:00
                            </div>
                        </div>
                        <div class="question-body skin-bgText"><input class="inputs-input skin-input-placeholder "
                                type="text" placeholder="请输入" value=""></div>
                    </section>
                    <section class="question skin-bgText" tabindex="-1" id="question_q-7-jrZn">
                        <div class="question-head skin-bgText skin-line-after-border-bottom ">
                            <div class="question-title"><span class="question-seq"><b>07</b></span><span
                                    class="text">您要推广活动的链接</span><span class="question-required">*</span></div>
                            <div class="question-desc skin-scale-text">跳转链接（官⽹/报名链接）</div>
                        </div>
                        <div class="question-body skin-bgText"><input class="inputs-input skin-input-placeholder "
                                type="text" placeholder="请输入" value=""></div>
                    </section>
                    <section class="question skin-bgText" tabindex="-1" id="question_q-9-VhXl">
                        <div class="question-head skin-bgText skin-line-after-border-bottom ">
                            <div class="question-title"><span class="question-seq"><b>08</b></span><span
                                    class="text">您要推广活动的 banner 图？</span><span class="question-required">*</span></div>
                            <div class="question-desc skin-scale-text">Banner 尺⼨：940 x 560 （⾼清、jpg/png格式、内容简洁、体积不宜过大）
                            </div>
                        </div>
                        <div class="question-body skin-bgText">
                            <!-- <input name="file" class="upload-input" type="file" id="q-9-VhXl"> -->
                            <label class="upload-trigger  " for="q-9-VhXl">
                                <span class="btn_s skin-highlight-color">
                                    <span>点击添加文件 </span>
                                </span>
                                <span>或将文件拖至此处</span>
                                <div>
                                    <span>文件大小限制</span>: 5MB
                                </div>
                            </label>
                        </div>
                    </section>
                    <section class="question skin-bgText" tabindex="-1" id="question_q-4-p3Di">
                        <div class="question-head skin-bgText skin-line-after-border-bottom ">
                            <div class="question-title"><span class="question-seq"><b>09</b></span><span
                                    class="text">留下您的联系方式？（方便通知您活动发布信息）</span><span class="question-required">*</span>
                            </div>
                            <div class="question-desc skin-scale-text">手机号、邮箱、或者是微信？</div>
                        </div>
                        <div class="question-body skin-bgText"><input class="inputs-input skin-input-placeholder "
                                type="text" placeholder="请输入" value=""></div>
                    </section>
                </form>

                <div class="ask-button">
                    <div class="ask-but-tj">
                        <button class="ask-but-tj-btn">提交</button>
                    </div>
                </div>
            </div>

            <!-- 底部 -->
            <div class="foot">
                <div class="page-footer skin-patent copyright">
                    <div class="foot-h">Copyright © 1998-2019 Tencent</div>
                    <div class="foot-c">
                        <span>系统由</span>
                        <a href="https://wj.qq.com/">
                            <svg class="footer-logo" x="0px" y="0px" viewBox="0 0 29 30">
                                <polygon class="logo-border"
                                    points="0.3,16 0.3,18.1 10.7,29.3 28.7,18.1 28.7,15.6 18.4,12.9 17.5,14.3 25.8,16.7 10.4,24.6 2.8,17.4 6.4,16.2 4.9,14.5">
                                </polygon>
                                <path class="logo-ok"
                                    d="M2.8,9.5L4.3,8l7,6.4c0,0,4.3-5.4,7.1-8.5c3.7-4.1,5.7-5.6,5.7-5.6l1,1.7c0,0-3.1,3.3-6.8,8.6c-3.5,5.1-5.9,9.7-5.9,9.7h-1.5L2.8,9.5z">
                                </path>
                            </svg>
                            <span>腾讯问卷</span>
                        </a>
                        <span>提供</span>
                    </div>
                    <div class="foot-f">
                        <a href="/xy/agreement.html">
                            <span>用户协议</span>
                        </a>
                        <span> </span>
                        <a href="http://www.qq.com/contract.shtml">
                            <span>服务协议</span>
                        </a>
                        <span> </span>
                        <a href="http://privacy.qq.com">
                            <span>隐私政策</span>
                        </a>
                        <span> </span>
                        <a href="javascript:;">
                            <span>举报该问卷</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>