<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/wmr/index_head.css">
    <link rel="stylesheet" href="../../public/css/wmr/reset.css">
</head>

<body>
    <div class="header">
        <div class="common clearfix">
            <!-- 导航选项 -->
            <div class="navbar">
                <!-- logo图片 -->
                <a href="" class="logo">
                    <img src="../../public/img/wmr/logo.png" alt="" class="logo-img">
                </a>
                <ul class="nav-ul clearfix">
                    <li><a href="javascript:;">首页</a></li>
                    <li><a href="javascript:;">沸点</a></li>
                    <li><a href="javascript:;">话题</a></li>
                    <li><a href="javascript:;">小册</a></li>
                    <li><a href="javascript:;">活动</a></li>
                    <li><a href="javascript:;" class="nth">有奖征文🎁</a></li>
                </ul>
            </div>
            <div class="header-right">
                <!-- 搜索 -->
                <div class="search">
                    <form class="search-form">
                        <input type="text" placeholder="搜索更新了" class="search-input">
                        <img src="../../public/img/wmr/sousuo.png" alt="">
                    </form>
                </div>
                <!-- 写文章 -->
                <div class="add-group">
                    <img src="../../public/img/wmr/wenzhang.png" alt="">
                    <a href="javascript:;">写文章</a>
                </div>
                <!-- 登陆注册 -->
                <div class="register">
                    <span><a href="javascript:;">登录 ·</a></span>
                    <span><a href="javascript:;">注册</a></span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>